
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

.hero, .footer {
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}

.hero_left {
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
}

.hero_right {
    width: 50%;
    height: auto;
    background-color: darkgray;
    color: #e5e7eb;
    text-align: center;
}

img

.footer {
    justify-content: center;
    text-align: center;
    color: #e5e7eb;
    padding: 16px;
}

.hero {
    color: #f9faf8;
    display: flex;
    flex: 1;

}

.awesome_header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left_links {
    size: 24px;
    color: #f9faf8;
}

.sign_up {
    background-color: #3882f6;
    flex: 1;
}

div.sign_up {
    padding-left: 100px;
    padding-right: 100px;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.inspirational_quote {
    background-color: #e5e7eb;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width:900px;
    height: auto;
    
}

.sig {
    font-weight: bolder;
    width: 800px;
    height: auto;
    text-align: right;
}

.awesome_content, .right_links {
    font-size: 18px;
    color: #e5e7eb;
}

.header a {
    color: #e5e7eb;
}

.random_info {
    display: flex;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}